streamlit
streamlit-aggrid
st-copy-to-clipboard
pandas
numpy
openpyxl
plotly-express
psycopg2-binary
sqlalchemy
alembic
python-dotenv
camelot-py[base]
statsmodels
sktime
lightgbm
scikit-learn
duckdb

# Testing
pytest
pytest-cov
pytest-mock
freezegun
