streamlit
streamlit-aggrid
pandas
numpy
openpyxl
plotly-express
psycopg2-binary
sqlalchemy
alembic
python-dotenv
camelot-py[base]
statsmodels
sktime

# Testing
pytest
pytest-cov
pytest-mock
freezegun
